<div class="row top-menu">
	<div class="col-md-6">
		<a href="{{url_for('showCategory')}}">
			<button class="btn btn-default">
				<span class="glyphicon glyphicon-home" aria-hidden="true"></span>Show All Categories
			</button>
		</a>
	</div>
	<div class="col-md-6 text-right">
		<!-- <a href="{{url_for('showLogin')}}"> -->
			<a data-toggle="modal" class=".btn-primary" href="{{url_for('showLogin')}}" data-target="#myModal">
				<button class="btn btn-default">
					<span class="glyphicon glyphicon-log-in"></span>
					Login
				</button>
			</a>
		<!-- </a> -->
	</div>

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="true">
	    <div class="modal-dialog modal-sm">
	        <div class="modal-content">
	        </div> <!-- /.modal-content -->
	    </div> <!-- /.modal-dialog -->
	</div> <!-- /.modal -->
</div>
