{% extends "main.html" %}
{% block content %}
{% if login_session.get("user_id") %}
	{% include "loggedInHeader.html" %}
{% else %}
	{% include "defaultHeader.html" %}
{% endif %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>{{ category.name }}
			<figure class="creator">
				<img src="{{ creator.picture}}">
				<figcaption>{{ creator.name }}</figcaption>
			</figure>
			</h1>

		</div>
	</div>

{% with messages = get_flashed_messages() %}
	{% if messages %}
	<div class="row">
		<div class="col-md-12 flash">
		<ul>
			{% for message in messages %}
				 <li> <strong> {{ message }} </strong> </li>
			{% endfor %}
		</ul>
		</div>
	</div>
	{% endif %}
{% endwith %}

	</div>
	</div>
	{% if items !=[] %}
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-3">
				<h2>Items</h2>
					{% for item in items %}
						<div class="menu-item" id="{{item.id}}">
							<h3>{{item.name}}</h3>
							<p>{{item.description}}</p>
						</div>
						<img class="image" src="{{item.picture.locate()}}">
					{% endfor %}
			</div>
			<div class="col-md-1"></div>
		</div>
	{% endif %}
	{% if items == [] %}
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-3">
			<h2>No items logged yet</h2>
		</div>
		<div class="col-md-1"></div>
	</div>
	{% endif %}
{% endblock %}
