{% extends "main.html" %}
{% block content %}
{% include "loggedInHeader.html" %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>New Category</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="#" method="post">
				<div class="form-group">
					<label for="name">Name:</label>
					<input type ="text" class="form-control" maxlength="100" name="name">
					<label for="category_url">Image Url:</label>
					<input type ="text" id="url" class="form-control" maxlength="500" name="category_url">
				</div>
				<div class="padding-bottom"></div>
				<button type="submit" class="btn btn-default" id="submit">
					<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>
					Create
				</button>
			</form>
			<div class="error">{{error}}</div>
		</div>
	</div>
	<base href="">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
{% endblock %}
